In [4]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
# Load in Data
flights_data = pd.read_csv('flights.csv')
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()
flights_data.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [12]:
#Question 1 How many flights were there from JFK to SLC? Int

# Filtering the DF for origin == "JFK" and dest == "SLC" and taking the length of the resulting slice
question_one = flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')].shape[0]
print(f"There were {question_one} flights from JFK to SLC")

There were 2113 flights from JFK to SLC

In [13]:
# Question 2 How many airlines fly to SLC? Should be int

# Filtering the flights data to destinations == SLC
question_two = flights_data[flights_data["dest"] == "SLC"]
# Grabbing the unique carrier values and returning the length
question_two = question_two['carrier'].unique().shape[0]
print(f"There were {question_two} airlines that flew to SLC")

There were 2 airlines that flew to SLC

In [16]:
#Question 3 What is the average arrival delay for flights to RDU? float

question_three = flights_data[flights_data['dest'] == "RDU"]
question_three = question_three['arr_delay'].mean()
print(f"The average arrival delay for flights into RDU is {question_three} minutes")

The average arrival delay for flights into RDU is 10.052380952380952 minutes

In [25]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float

question_four = flights_data[(flights_data['dest'] == "SEA") & ((flights_data['origin'] == "LGA") | (flights_data['origin'] == "JFK"))].shape[0]

all_SEA = flights_data[flights_data['dest'] == "SEA"].shape[0]

print(f"{question_four / all_SEA} percent of flights to Seattle come from LGA or JFK")

0.5332653581442773 percent of flights to Seattle come from LGA or JFK

In [ ]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)