In [2]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [43]:
# Load in Data
flights_data = pd.read_csv('flights.csv', index_col= 0 )
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()
print(flights_data.shape)
flights_data.head()

(336776, 16)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [32]:
#Question 1 How many flights were there from JFK to SLC? Int

# Filtering the DF for origin == "JFK" and dest == "SLC" and taking the length of the resulting slice
question_one = flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')].shape[0]
print(f"There were {question_one} flights from JFK to SLC")

There were 2113 flights from JFK to SLC

In [33]:
# Question 2 How many airlines fly to SLC? Should be int

# Filtering the flights data to destinations == SLC
question_two = flights_data[flights_data["dest"] == "SLC"]
# Grabbing the unique carrier values and returning the length
question_two = question_two['carrier'].unique().shape[0]
print(f"There were {question_two} airlines that flew to SLC")

There were 2 airlines that flew to SLC

In [34]:
#Question 3 What is the average arrival delay for flights to RDU? float

question_three = flights_data[flights_data['dest'] == "RDU"]
question_three = question_three['arr_delay'].mean()
print(f"The average arrival delay for flights into RDU is {question_three} minutes")

The average arrival delay for flights into RDU is 10.052380952380952 minutes

In [35]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float

question_four = flights_data[(flights_data['dest'] == "SEA") & ((flights_data['origin'] == "LGA") | (flights_data['origin'] == "JFK"))].shape[0]

all_SEA = flights_data[flights_data['dest'] == "SEA"].shape[0]

print(f"{question_four / all_SEA} percent of flights to Seattle come from LGA or JFK")

0.5332653581442773 percent of flights to Seattle come from LGA or JFK

In [85]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)

# Creation of a date column
#flights_data['date']
flight_dates = flights_data['year'].astype(str) + "/" + flights_data['month'].astype(str) + "/" + flights_data['day'].astype(str)
flights_data['date'] = flight_dates

# Grab date and departure column
question_five = flights_data[["date", "dep_delay"]].dropna()

# Group flights by date column and calculate average departure delay
question_five = question_five.groupby(["date"]).mean().sort_values("dep_delay", ascending=False)
question_five['date'] = question_five.index

print(f"{question_five.index[0]} has the largest average departure delay")

question_five.iloc[0, :]

2013/3/8 has the largest average departure delay

dep_delay    83.536921
date          2013/3/8
Name: 2013/3/8, dtype: object

In [86]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
# Create date column in year/month/day format
flight_dates = flights_data['year'].astype(str) + "/" + flights_data['month'].astype(str) + "/" + flights_data['day'].astype(str)
flights_data['date'] = flight_dates

# grab date and arrival delay column
question_six = flights_data[['date', 'arr_delay']].dropna()

# calculate average arrival delay by date
question_six = question_six.groupby(['date']).mean().sort_values("arr_delay", ascending=False)

print(f"{question_six.index[0]} has the largest average arrival delay")
question_six.iloc[0, :]

2013/3/8 has the largest average arrival delay

arr_delay    85.862155
Name: 2013/3/8, dtype: float64

In [106]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime

question_seven = flights_data[["tailnum", "distance", "air_time"]].dropna()
question_seven['speed'] = question_seven['distance'] / question_seven['air_time']
question_seven = question_seven.sort_values(['speed'], ascending=False)

question_seven.iloc[0, [0,3]]

tailnum       N666DN
speed      11.723077
Name: 216448, dtype: object

In [127]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nan

# Filling nan values with 0
question_eight = weather_data_pd.fillna(0)

question_eight.isna().sum()

Unnamed: 0    0
origin        0
year          0
month         0
day           0
hour          0
temp          0
dewp          0
humid         0
wind_dir      0
wind_speed    0
wind_gust     0
precip        0
pressure      0
visib         0
dtype: int64

In [148]:
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
weather_data_np.shape
# 4th column is the month
# Sum the booleans for the month value == 2 == February
(weather_data_np[:, 3] == 2).sum()

671

In [151]:
#Question 10 What was the mean for humidity in February? Float
weather_data_pd.columns

# Column 8 == humidity
# Filter the entries based on month == February and take the mean of the humidity column
weather_data_np[(weather_data_np[:, 3] == 2), 8].mean()

62.918152011922515

In [154]:
#Question 11 What was the std for humidity in February? Float

# Filter np array to the humidity values for February
humidity_data = weather_data_np[(weather_data_np[:, 3] == 2), 8]
# Calculate the standard deviation based on the humidity values
question_eleven = np.std(humidity_data)
question_eleven

20.33690087674334